<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Items</title>
</head>
<body>

<a href="../../AdminHome">Go Home</a>
    {% block content %}

        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>itemId</th>
                    <th>name</th>
                    <th>imageURL</th>
                    <th>websiteURL</th>
                    <th>delete?</th>
                    <th>update?</th>
                </tr>
            </thead>

            <tbody>
                {% for i in allItems %}
                    <tr>
                        <td><strong> {{i.id}} </strong></td>
                        <td><strong> {{i.itemId}} </strong></td>
                        <td><strong> {{i.name}} </strong></td>
                        <td><strong> {{i.imageURL}} </strong></td>
                        <td><strong> {{i.websiteURL}} </strong></td>
                        <td><a href="../item-delete/{{i.itemId}}/"> Delete </a></td>
                        <td><a href="../item-update/{{i.itemId}}/"> Update </a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endblock %}

</body>
</html>